
    <ul class="social-share col-md-9">
        <li class="social-item">
            <a href="{{ settings.home.BrewerySettings.same_as.facebook }}" 
                    style="padding: 0 0 0 0;"
                    target="_blank">
                <i class="fab fa-facebook fa-2x" style="color: #fff"></i>
            </a>
        </li>
        <li class="social-item">
            <a href="{{ settings.home.BrewerySettings.same_as.twitter }}" 
                    style="padding: 0 0 0 0;"
                    target="_blank">
                <i class="fab fa-twitter fa-2x" style="color: #fff"></i>
            </a>
        </li>
        <li class="social-item">
            <a href="{{ settings.home.BrewerySettings.same_as.instagram }}" 
                    style="padding: 0 0 0 0;"
                    target="_blank">
                <i class="fab fa-instagram fa-2x" style="color: #fff"></i>
            </a>
        </li>
    </ul>
