{% extends "puput/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share blog_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block meta_title %}
    {% if search_term %}
        {% trans 'Entries for' %} {{ search_type }} {{ search_term }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta_title %}

{% block meta_description %}
    {% if search_term %}
        {% trans 'Entries for' %} {{ search_type }} {{ search_term }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta_description %}

{% block social_share %}
    {% image blog_page.header_image fill-800x450 as share_image %}
    <meta property="og:title" content="{{ blog_page.title }}" />
    <meta property="og:description" content="{{ blog_page.description }}" />
    <meta property="og:url" content="{% canonical_url %}" />
    {% if blog_page.header_image %}
        <meta property="og:image" content="{% image_url share_image.url %}" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="450" />
        <meta name="twitter:image" content="{% image_url share_image.url %}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ blog_page.title }}" />
    <meta name="twitter:description" content="{{ blog_page.description }}" />
{% endblock social_share %}

{% block snippets_block %}
    <div class="row">
        <div class="col-8 offset-2">
            {% render_text_snippet 'blog_intro' %}
        </div>
    </div>
{% endblock snippets_block %}

{% block content %}
    {% if blog_page.display_categories %}
    <div class="row">
        <div class="col text-center text-uppercase lrd-nopad">
            {% categories_list %}
        </div>
    </div>
    {% endif %}
    {% with per_page=blog_page.num_entries_page %}
        {# 'paginate' tag cannot render dotted variables, so we need to create a context var #}
        {% paginate per_page entries %}
        {% if search_term %}
            <div class="searchTerm">{% trans 'Entries for' %} {{ search_type }} "{{ search_term }}"</div>
        {% endif %}
        <div class="grid row">
        {% for entry in entries %}
            {% entry_url entry blog_page as post_url %}
            <div id="blog-{{ entry.id }}"
                class="{% if entry.categories.exists %}{% for category in entry.categories.all %}{{ category.slug }}{% endfor %}{% endif %} grid-item grid-sizer closed"
                {% if entry.categories.exists %}data-category="{{ entry.categories.all.0.slug }}"{% endif %}>
                {% image entry.header_image fill-300x300 as header_image %}
                <img alt="{{ entry.header_image.title }}" src="{{ header_image.url }}"
                        class="unanimated-image">
                {% image entry.header_image fill-600x300 as header_image_big %}
                <img alt="{{ entry.header_image.title }}" 
                        src="{{ header_image_big.url }}"
                        class="animated-image">
                <div class="lrd-item-title">
                    <h4 class="lrd-post-title-little">
                        {{ entry.title }}
                    </h4>
                    {% include 'puput/entry_links.html' %}
                </div>
                <div class="row summarize-row hidden">
                    <div class="col excerpt">
                        {% if entry.excerpt %}
                            {{ entry.excerpt|richtext|truncatewords_html:60 }}
                        {% else %}
                            {{ entry.body|richtext|truncatewords_html:40 }}
                        {% endif %}
                    </div>
                    {% include 'puput/social_shares.html' with entry=entry %}
                    <a class="btn btn-primary pull-right read-more"
                        target="_blank" href="{{ entry.url }}">
                        Continue reading >>
                    </a>
                </div>
            </div>
        {% empty %}
            <span>{% trans 'No results found.' %}</span>
        {% endfor %}
        </div>

        <div class="pagination">
            {% show_paginator %}
        </div>
    {% endwith %}
{% endblock content %}
