{% load wagtailroutablepage_tags puput_tags %}

<ul class="links">
    <li>
        <i class="fas fa-calendar-alt" 
                style="color: #FFB81C !important;"></i>
        {{ entry.date|date:"DATE_FORMAT" }}
    </li>
    {% if entry.categories.count > 0 %}
        <li>
            <i class="fas fa-folder-open" 
                    style="color: #FFB81C !important;"></i>
            {% for category in entry.categories.all %}
                {{ category.name }}
            {% endfor %}
        </li>
    {% endif %}
    {% if entry.tags.count > 0 %}
        <li>
            {% tags_list blog_page.num_tags_entry_header entry.tags %}
        </li>
    {% endif %}
    {% if blog_page.display_comments %}
        <li>
            <i class="fas fa-comments" 
                    style="color: #FFB81C !important;"></i>
            {{ entry.num_comments }}
        </li>
    {% endif %}
</ul>