<nav id="main-sidebar" class="active" style="position: relative">
    <div class="row">
        <div class="col">
            <button class="btn float-right" id="close-menu"
                style="background-color: #0047BB; margin-right:20px; margin-top: 20px;">
                <i class="fas fa-times fa-3x"
                    style="color: #fff;"></i>
            </button>
        </div>
    </div>
    <ul class="menu-list">
        <li>
            <a class="menu-link main">
                HOME
            </a>
        </li>
        <li>
            <a class="menu-link main">
                OUR BEERS
            </a>
        </li>
        <li>
            <a class="menu-link main">
                BREWERY
            </a>
        </li>
        <li>
            <a class="menu-link main">
                WE SPEAK BEER
            </a>
        </li>
        <li>
            <a class="menu-link main">
                CONTACTS
            </a>
        </li>
    </ul>
    {% include 'puput/social_links.html' %}
</nav>