{% extends "base.html" %}
{% load static snippettags %}

{% block body_class %}{% endblock %}

{% block content %}
  {% include 'navbar_primary.html' %}
  <div class="detail-container">
    {% block content_detail %}
    {% endblock content_detail %}
  </div>
  {% render_basesnippet identifier='footer' %}
{% endblock content %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
{% block extrascript %}
{% endblock extrascript %}
{% endblock extra_js %}