{% extends "base.html" %}
{% load static snippettags %}

{% block body_class %}{% endblock %}

{% block content %}
  {% include 'navbar_primary.html' %}
  <div class="detail-container">
    <section class="messages">
      <div class="row" style="padding-bottom: 20px;">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div class="row">
            <div class="col-sm-12 col-md-6 text-right"
                style="padding-top: 15px;">
              <h2>
                <i class="fas fa-landmark"></i>
                {{ settings.home.BrewerySettings.name }}
              </h2>
              <h4>
                <i class="fas fa-phone"></i>
                Phone: {{ settings.home.ContactPointSettings.telephone }}
              </h4>
              <h4>
                <i class="fas fa-thumbtack"></i>
                Address: {{ settings.home.AddressSettings.get_single_line_address }}
              </h4>
              <h4>
                <i class="fas fa-envelope"></i>
                General Inquiries: {{ settings.home.ContactPointSettings.email }}
              </h4>
            </div>
            <div class="d-none d-md-block col-md-6">
              <img src='{% static "img/quadro.png" %}' class="quadro-contact">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-bottom: 20px;">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div id='map' class="malta"></div>
        </div>
      </div>
      {% block content_detail %}
      {% endblock content_detail %}
    </section>
  </div>
  {% render_basesnippet identifier='footer' %}
{% endblock content %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
<script>
  $(document).ready(function(){
    var toggleAll = function() {
      if($('#content').hasClass('ristretto')) {
        $(document).lockscroll(false);
        $('.wrapper').off('mousewheel');
      } else {
        $(document).lockscroll(true);
        $('.wrapper').mousewheel(function(el) {
          return false;
        });
      }
      $('#content').toggleClass('ristretto');
      $('#main-sidebar').toggleClass('active');
    };

    $('#sidebarCollapse').on('click',function(){
      toggleAll();
    });

    $('#closer-btn').on('click',function(){
      toggleAll();
    });

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2VzZXJnaW9icnIiLCJhIjoiZDg1ODk1ZWViNTU0Yzg5OWExNDJkNThjMGIxYjE1MTEifQ.PwouQjyK1xNZQZTk35Pbtw';
    
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      zoom: 11.5, 
      center: [14.247873, 36.052099]
    });

    map.scrollZoom.disable();

    map.on('load', function() {
      map.loadImage('/static/img/birra.png', function(error, image){
        if(error) throw error;
        map.addImage('birra', image);
        map.addLayer({
          'id': 'points',
          'type': 'symbol',
          'source': {
            'type': 'geojson',
            'data': {
              'type': 'FeatureCollection',
              'features': [{
                'type': 'Feature',
                'geometry': {
                  'type': 'Point',
                  'coordinates': [14.261403, 36.036011]
                }
              }]
            }
          },
          'layout': {
            'icon-image': 'birra',
            'icon-size': 0.5
          }
        });
      });
    });
  });
</script>
{% block extrascript %}
{% endblock extrascript %}
{% endblock extra_js %}