
.shop-title {
	font-weight: 800;
}

.shop-subtitle {
	font-size: 2.5rem;
	font-weight: 500;
}

.shop-tagline {
	margin-left: calc((100vw - 472px) / 2);
	height: 150px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.grid {
	max-width: 1200px;
	margin: 0 auto;
}

.grid-item {
	width: 350px;
	height: 260px;
	margin-bottom: 10px;
}

.shop-cart {
	position: absolute;
	left: calc((350px - 100px) / 2);
	bottom: 10px;
}

button.shop-cart i {
	color: #fff !important;
}

section {
	margin-bottom: 30px;
}


/* MEDIUM DEVICES */

@media(min-width:100px) and (max-width:699px) {
    .grid {
		padding-left: calc((100% - 350px) / 2);
	}
	.gutter-sizer {
		width: 0px;
	}
}


/* 2 COLONNE */

@media(min-width:700px) and (max-width:1049px) {
	.grid {
		padding-left: calc((100% - 700px) / 3);
	}
    .gutter-sizer {
		width: calc((100% - 700px) / 3);
	}
}


/* 3 COLONNE */

@media(min-width:1050px) {
	.grid {
		padding-right: 1.5%;
		padding-left: 1.5%;
	}
    .gutter-sizer {
		width: calc((98.5% - 1050px) / 2);
	}
}