{% extends 'beer/base_beer.html' %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}


{% block content_detail %}
<div id="fullpage">
  <div class="section">
    {% for beer in page.category.beers.all %}
    <div class="slide">
      {% include 'beer/partials/beer_slide_card.html' with the_beer=beer %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content_detail %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
  $('#fullpage').fullpage({
    //options here
    licenseKey: '25D47858-8B724D06-B213CC41-2AF74BEE',
    sectionsColor: ['#fff'],
    autoScrolling:true
  });
});
</script>
{% endblock extrascript %}