{% extends 'beer/base_beer.html' %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content_detail %}
<div class="the_menu-container text-center text-uppercase">
  <ul id="the_menu">
    {% for cat_page in page.get_children %}
    <li data-menuanchor="{{ cat_page.slug }}">
      <a href="#{{ cat_page.slug }}">
        {{ cat_page.title }}
      </a>
    </li>
    {% if not forloop.last %}<span class="li-divider">/</span>{% endif %} 
    {% endfor %}
  </ul>
</div>

<div id="fullpage">
  {% for cat_page in page.get_children %}
  <div class="section">
    {% with cat_page.specific as category_page %}
    {% for beer in category_page.category.beers.all %}
    <div class="slide">
      {% include 'beer/partials/beer_slide_card.html' with the_beer=beer %}
    </div>
    {% endfor %}
    {% endwith %}
  </div>
  {% endfor %}
</div>
{% endblock content_detail %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
  $('#fullpage').fullpage({
    //options here
    licenseKey: '25D47858-8B724D06-B213CC41-2AF74BEE',
    sectionsColor: ['#fff'],
    autoScrolling:true,
    anchors: [{% for category_page in page.get_children %}'{{ category_page.slug }}'{% if not forloop.last %},{% endif %}{% endfor %}],
    loopBottom: true,
    menu: '#the_menu'
  });
});
</script>
{% endblock extrascript %}