{% load wagtailcore_tags wagtailimages_tags %}

<div class="text-center beer-card-content">
  {% include 'beer/partials/arrow.html' with the_color=the_beer.contrast_background %}
  <div class="beer-card-details align-items-center">
    {% if the_beer.bottle_image %}
    {% image the_beer.bottle_image width-180 as the_bottle %}
    <img {{ the_bottle.attrs }} class="d-none d-lg-block bottle-card-image ">
    {% else %}
    {% image the_beer.tap_image width-400 as the_tap %}
    <img {{ the_tap.attrs }} class="d-none d-lg-block tap-card-image">
    {% endif %}
    <h1 class="text-uppercase beer-name d-none d-lg-block d-xl-none">
      {{ the_beer.name }}
      <span class="beer-claim d-block d-sm-none d-md-block">
        {{ the_beer.claim }}
      </span>
    </h1>
    <div class="row align-items-center row-card-details">
      <div class="col-xs-12 col-lg-10 offset-lg-2 col-xl-8 offset-xl-2 justify-content-center">
        <h1 class="text-uppercase beer-name d-block d-lg-none d-xl-block">
          {{ the_beer.name }}
          <span class="beer-claim d-block d-sm-none d-md-block">
            {{ the_beer.claim }}
          </span>
        </h1>
        <div class="row" style="max-width: 100vw;">
          <div class="col-md-12 col-xl-3 beer-info-col text-center d-none d-md-block order-last order-xl-first">
            <div class="row">
              <div class="col-md-3 col-xl-12  beer-info-detail">
                <h5>
                  <abbr title="Alchol content" class="initialism">
                    ABV
                  </abbr>
                </h5>
                <h3>{{ the_beer.alcoholic_content }}</h3>
              </div>
              <div class="col-md-3 col-xl-12 beer-info-detail">
                <h5>
                  <abbr title="IBU" class="initialism">
                    IBU
                  </abbr>
                </h5>
                <h3>{{ the_beer.ibu }}</h3>
              </div>
              <div class="col-md-3 col-xl-12 beer-info-detail">
                <h5>
                  SERVE AT
                </h5>
                <h3>{{ the_beer.serving_temperature }}</h3>
              </div>
              <div class="col-md-3 col-xl-12">
                <h5>AVAILABILITY</h5>
                {% for availability in the_beer.availabilities_type.all %}
                  <img src="{{ availability.container.svg_icon.url }}" 
                    width="75px" style="margin-bottom: 10px;">                
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-9 beer-detail-col text-justify justify-content-center align-items-center order-first order-xl-last">
            <p class="text-justify">{{ the_beer.short_description }}</p>
            <img src="{{ the_beer.infographic_icon.url }}" width="80%"
                alt="{{ the_beer.name }} specs"
                style="margin-left:10%; margin-bottom: 35px;"
                class="d-none d-lg-block">
            {% if the_beer.bottle_image %}
            {% image the_beer.bottle_image width-100 as the_bottle %}
            <img {{ the_bottle.attrs }} class="d-block d-sm-none d-md-block d-lg-none bottle-little-image ">
            {% else %}
            {% image the_beer.tap_image width-400 as the_tap %}
            <img {{ the_tap.attrs }} class="d-block d-sm-none d-md-block d-lg-none tap-little-image">
            {% endif %}
            <p class="right-if-little eeeh d-block d-sm-none d-md-block d-lg-none d-xl-block">
              <b>INGREDIENTS: </b>
              {{ the_beer.ingredients }}
            </p>
            <p class="right-if-little d-block d-sm-none d-md-block d-lg-none d-xl-block">
              <b>FOOD PAIRINGS: </b>
              {{ the_beer.food_pairings }}
            </p>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>