body {
    max-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: 'Open Sans', sans-serif;
}

i {
    color: #002B96;
}

body {
    overflow-x: hidden;
}

.lrd-hidden {
    visibility: hidden !important;
}

.owl-carousel {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-brand-image {
    height: 96px;
}

.btn-navbar-toggler {
    position: absolute;
    right: 32px;
    top: 16px;
    z-index: 10;
}

.big-logo {
    position: absolute;
    z-index: 10;
    transition: all 0.3s;
}


/* SIDENAV SECTION */

.wrapper {
    display: flex;
    /* width: 100vw; */
    /* align-items: stretch; */
}

#main-sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#main-sidebar ul.components {
    padding: 20px 0px;
    border-bottom: 1px solid #47748b;
}

#main-sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#main-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

#main-sidebar ul li a.main:hover {
    color: #7386D5;
    background: #fff;
}

#main-sidebar ul li a.active {
    color: #FBD872 !important;
}

.social-links-row {
    position: absolute;
    left: 55px;
    width: 100%;
    top: 85vh;
}

li.social-item {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-top: 5px;
    margin-right: 3px;
    padding-left: 6px;
    padding-top: 5px;
}

#content {
    width: 100vw;
    min-height: 100vh;
    transition: all 0.3s;
}

ul.menu-list li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.social-links-row {
    position: absolute;
    left: 55px;
    width: 100%;
    top: 85vh;
}

#closer-btn {
    background-color: #002b96;
    position: absolute;
    right: 32px;
    top: 8px;
    z-index: 10510;
}


/* END SIDENAV */

.blue-background {
    background-color: #002b96!important
}

.ristretto {
    width: calc(100vw - 500px) !important;
    height: 100vh !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

div#home-carousel.ristretto img {
    width: calc(100vw - 500px);
    height: 100vh !important;
}

div.owl-carousel {
    transition: all 0.3s;
}

.li-divider {
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
    margin-right: 8px;
}

footer hr {
    background-color: #002B96;
}

footer a {
    color: #7e7b72;
}

.footer-header {
    font-weight: 800;
}

.footer-detail {
    font-weight: 300;
    font-size: 0.9rem;
}

.footer-site {
    background-color: #cbd1d2;
    color: #7e7b72;
    padding-top: 15px;
    padding-bottom: 15px;
}

.end-site {
    background-color: #7e7b72;
    color: #cbd1d2;
    padding-top: 15px;
    font-size: 0.9rem;
}

.social-footer-row {
     background-color: #cbd1d2;
}

.social-footer-row i {
    color: #002B96 !important; 
}

p.credits a {
    color: #002B96;
}

/* /MENU SECTION */

#navbar_primary {
    height: 110px;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#tagline {
    position: absolute;
    z-index: 10;
    width: 70%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.25);
    visibility: hidden;
    transition: left 0.3s;
}

#tagline h1,
#tagline h2,
#tagline h3,
#tagline h4,
#tagline h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800 !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.little-logo {
    position: absolute;
    z-index: 10;
}


/* EXTRA SMALL DEVICES */

@media(max-width:575px) {
    .owl-carousel {
        max-width: 575px !important;
    }
    #main-sidebar {
        margin-right: -0px;
        padding-top: 25vh;
        min-width: 100vw;
        max-width: 100vw;
    }
    #main-sidebar.active {
        margin-right: calc(-100vw);
    }
    .little-logo {
        width: 90% !important;
        left: 5%;
    }
    .home-slide-little {
        max-width: 575px;
        width: 100vw;
        height: 100vh;
    }
    .btn-navbar-toggler {
        left: calc(100vw - 42px - 32px);
    }
}


/* SMALL DEVICES */

@media(min-width:576px) and (max-width:767px) {
    .owl-carousel {
        max-width: 767px !important;
    }
    #main-sidebar {
        margin-right: -0px;
        padding-top: 5vh;
        min-width: 500px;
        max-width: 500px;
    }
    #main-sidebar.active {
        margin-right: calc(-100vw);
    }
    .little-logo {
        width: 60% !important;
        left: 20%;
    }
    .home-slide-medium {
        max-width: 767px !important;
    }
    .btn-navbar-toggler {
        left: calc(100vw - 42px - 32px);
    }
}


/* MEDIUM DEVICES */

@media(min-width:768px) and (max-width:991px) {
    #content {
        padding: 0 15px 0 15px;
    }
    .owl-carousel {
        max-width: 991px !important;
    }
    .little-logo {
        width: 40% !important;
        left: 30%;
    }
    .home-slide-medium {
        max-width: 991px !important;
        height: 100vh;
    }
    #main-sidebar {
        margin-right: -0px;
        padding-top: 25vh;
        min-width: 500px;
        max-width: 500px;
    }
}


/* LARGE DEVICES */

@media(min-width:992px) and (max-width:1199px) {
    .owl-carousel {
        max-width: 1199px;
        height: 100vh;
    }
    .home-slide {
        height: 100vh;
    }
}


/* EXTRA LARGE DEVICES */

@media(min-width:1200px) {
    .owl-carousel {
        min-width: 1200px;
        width: 100%;
    }
    .home-slide {
        min-width: 1200px !important;
        min-height: 100vh;
    }
}