h1, h2, h3, h4, h5, h6, p, li, a {
	font-family: 'Open Sans', sans-serif;
}

/*div.owl-carousel, div.home-slide-container {
	min-height: 1080px !important;
	min-width: 1920px !important;
	height: 100vh;
	width: 100vw;
}

div.home-slide-container img {
	min-height: 1080px !important;
	min-width: 1920px !important;
}*/