{% extends "base.html" %}
{% load static snippettags %}

{% block body_class %}{% endblock %}

{% block content %}
  {% include 'navbar_primary.html' %}
  <div class="detail-container">
    {% block content_detail %}
    {% endblock content_detail %}
  </div>
  {% render_basesnippet identifier='footer' %}
{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
$(document).ready(function(){

  var toggleAll = function() {
    if($('#content').hasClass('ristretto')) {
      $('.wrapper').off('mousewhell');
      $(document).lockscroll(false);
    } else {
      $('.wrapper').mousewheel(function(el) {
        return false;
      });
      $(document).lockscroll(true);
    }
    $('#content').toggleClass('ristretto');
    $('#main-sidebar').toggleClass('active');
  };

  $('#sidebarCollapse').on('click',function(){
    toggleAll();
  });

  $('#closer-btn').on('click',function(){
    toggleAll();
  });

});
</script>
  {% block extrascript %}
  {% endblock extrascript %}
{% endblock extra_js %}