{% extends 'shop/base_shop.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content_detail %}
<section class="shop">
  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <img src="{% static 'img/logo_tagline_positive.png' %}"
          alt="Lord Chambray: we speak beers" class="shop-tagline">
      <h1 class="display-4 text-center shop-title">
        The eshop
        <span class="shop-subtitle">
          soon available online.
        </span>
      </h1>
      <hr/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col grid">
      <div class="gutter-sizer">
      {% for item in items %}
      <div class="grid-item" 
          style="background-image: url('{{ item.url }}');">
        <button class="btn btn-sm btn-success shop-cart disabled">
          <i class="fas fa-shopping-cart fa-xs"></i> Add to cart 
        </button>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content_detail %}

{% block extrascript %}
<script>
  $(document).ready(function() {
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: 350,
      gutter: '.gutter-sizer',
    });
  });
</script>
{% endblock extrascript %}
